@import "variables";
/* Glowny kontener */

// Przycisk odpowiedzialny za chowanie menu jezeli jestesmy na telefonie
#clickMenu {
  position: fixed;
  z-index: 2;
  left: 15px;
}

/*##########################################################*/
/*################## Menu boczne matlisty ##################*/
.mat-list {
  text-align: left;
}

ul {
  // lista itemow w submenu
  margin: 0;
  list-style-type: none;
  color: #000000;

  li {
    font-style: italic;
    cursor: pointer;
    padding: 3px;
  }

  li:hover,
  li.active {
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid red;
    margin-right: 5px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
  }

  li:last-child {
    margin-bottom: 10px;
  }
}
.buttonSelectMenu-iconLeft {
  // ikona przy przycisku z lewej strony
  margin-left: 5px;
  margin-right: 10px;
}

.app-spacer {
  // rozciaganie buttona w celu umieszczenia strzalki z prawej strony
  flex: 1 1 auto;
}

.buttonSelectMenu-expand {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

.buttonSelectMenu-expand.rotated {
  transform: rotate(180deg);
}

.buttonSelectMenu {
  // button odpowiedzialny za przelaczanie miedzy stronami
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  color: #000000;
  transition: all 300ms;
  cursor: pointer;
  border-top: 1px solid white;
  justify-content: flex-start;
  align-items: center;
}

.buttonSelectMenu:hover {
  background-color: $colorNavButtonHover;
  color: white;
  letter-spacing: 1px;
  border-left: 2px solid #181414;
}

.buttonSelectMenu.active {
  background-color:$colorNavButtonHover;
  color: white;
  letter-spacing: 1px;
  border-left: 2px solid #f44336;
}
/*##########################################################*/
/*######################## SUBMENU #########################*/
.submenu {
  background: $colorSubMenuBg;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
}

.submenu.expanded {
  max-height: 1000px;
}

@media only screen and (max-width: $sizeMobileWidth) {
  .submenu {
    background: $colorSubMenuBgPhone;
  }
}

/*##########################################################*/

/* content menu */

.router-content {
  margin: 25px;
}

// ########################### RESPONSIVE SIDENAV ####################################
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 200px;
  background: $colorSidenav;
  color: white;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 1;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

// #######################################################################################
