<div class="register-form">
    <form [formGroup]="registerForm" class="d-flex flex-column">
        <mat-form-field class="control-width">
            <input #login matInput type="email" placeholder="Wprowadź adres e-mail" formControlName="email" required
                autofocus>
            <mat-error *ngIf="emailForm.hasError('email') && !emailForm.hasError('required')">
                Proszę wprowadź adres email
            </mat-error>
            <mat-error *ngIf="emailForm.hasError('required')">
                Adres email jest wymagany
            </mat-error>
        </mat-form-field>
        <mat-form-field class="control-width">
            <input #login matInput type="text" placeholder="Wprowadź imię i nazwisko" formControlName="name" required
                autofocus>
        </mat-form-field>
        <mat-form-field class="control-width">
            <input #password matInput type="password" formControlName="password" placeholder="Wprowadź hasło"
                [type]="passHide ? 'password' : 'text'" required>
            <mat-icon *ngIf="passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility
            </mat-icon>
            <mat-icon *ngIf="!passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility_off
            </mat-icon>
            <mat-error *ngIf="passwordForm.hasError('password') && !passwordForm.hasError('required')">
                Proszę wprowadź hasło
            </mat-error>
            <mat-error *ngIf="passwordForm.hasError('required')">
                Hasło jest wymagane
            </mat-error>
            <mat-error *ngIf="rePasswordForm.value !== passwordForm.value">
                Podane hasła są różne
            </mat-error>
        </mat-form-field>
        <mat-form-field class="control-width">
            <input #password matInput type="password" formControlName="rePassword"
                placeholder="Wprowadź powtórnie hasło" [type]="passHide ? 'password' : 'text'" required>
            <mat-icon *ngIf="passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility
            </mat-icon>
            <mat-icon *ngIf="!passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility_off
            </mat-icon>
            <mat-error *ngIf="rePasswordForm.hasError('password') && !rePasswordForm.hasError('required')">
                Proszę wprowadź hasło
            </mat-error>
            <mat-error *ngIf="rePasswordForm.hasError('required')">
                Hasło jest wymagane
            </mat-error>
            <mat-error *ngIf="rePasswordForm.value !== passwordForm.value">
                Podane hasła są różne
            </mat-error>
        </mat-form-field>
    </form>
    <div class="form-group">
        <button [disabled]="loading || checkValidRequired() || !checkValidPassword()" class="btn-register"
            mat-raised-button color="primary" (click)="register()">Zarejestruj
        </button>
        <br>
        <button class="btn-register" mat-raised-button color="primary" (click)="back()">
            Powrót
        </button>
    </div>
</div>