@import "mixins";
@import "variables";

.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.control-width {
  width: 300px;
}

button {
  width: 100%;
  margin-bottom: 5px;
}

