  /****** Obsluga funkcji Drag&Drop ******/
  .drag-handle {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }
  .drag {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  //*************************************/