.status-button {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.not-more-info {
    border-left: 1px solid #4949493d;
}

.cont-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;

    button {
        margin: 2px;
    }
}

.cont-row{
    margin-top: 60px;
    height: 700px;
}