<mat-toolbar class="app-toolbar" color="primary">
  <span>
    <button mat-mini-fab color="primary" (click)="emitMenuClickEvent()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <img src="assets/whiteLogo.png" />
  <span class="app-spacer"></span>
  <button
    mat-mini-fab
    class="mr-1"
    color="primary"
    matTooltip="Dodaj nowe zgłoszenie"
    (click)="createNewNotification()"
    [matTooltipShowDelay]="matTooltipShowDelay"
    [matTooltipHideDelay]="matTooltipHideDelay"
  >
    <mat-icon>add_alert</mat-icon>
  </button>
  <button
    mat-mini-fab
    class="mr-3"
    color="primary"
    (click)="openUserBottomSheet()"
    matTooltip="Profil użytkownika"
    [matTooltipShowDelay]="matTooltipShowDelay"
    [matTooltipHideDelay]="matTooltipHideDelay"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <span>
    <button mat-raised-button color="warn" (click)="logout()">
      <span i18n="Toolbar|Przycisk wylogowywujacy z aplikacji">Wyloguj</span>
    </button>
  </span>
</mat-toolbar>
