@import "variables";

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


// rozciaganie i zwezanie toolbara
.app-spacer {
  flex: 1 1 auto;
}

mat-icon {
  vertical-align: middle !important;
}

img {
  max-width: 200px;
  margin: 5px;
  margin-left: 20px;
}
