/* #################################################
   ################### TOOLBAR #####################
   ################################################# */

$colorToolbar: rgba(28, 28, 28, 0.61); // kolor tla toolbara 2c323f
$colorFonts: #ffffff; // kolor czcionek

/* #################################################
      ##################### PAGES #####################
      ################################################# */

$colorNavButtonHover: #673ab7; // kolor buttona nawigacyjnego

$colorSidenav: rgb(255, 255, 255); // tlo sidenav
$colorSubMenuBg: rgba(28, 28, 28, 0.61); // background submenu
$colorSubMenuBgPhone: rgba(28, 28, 28, 0.247); // background submenu

/* #################################################
      ##################### COLORS ####################
      ################################################# */

$colorButton: #673ab7; // kolor uzywany jako wiodący kolor btn
$colorButtonHover: #d81b60; // kolor uzywany jako wiodący kolor btn po najechaniu

// SnackBar
$colorBackgroundSuccess: #d4edda; // kolor tła
$colorSuccess: #155724; // kolor czcionki
$colorBorderSuccess: #c3e6cb; // kolor obramowania

$colorBackgroundError: #721c24; // kolor tła
$colorError: #f8d7da; // kolor czcionki
$colorBorderError: #f5c6cb; // kolor obramowania

$colorStatusInProgress: rgb(200, 218, 241); // przypisane zgloszenie w trakcie realizacji
$colorStatusAssigned: rgb(213, 200, 243); // przypisane zgloszenie do uzytkownika
$colorStatusWaitingForCustomer: rgb(243, 202, 202); // czekające na klienta
$colorStatusWaitingForExternalSupport: rgb(241, 208, 195); // czekające na support zewnętrzny
$colorStatusCompleted: rgb(220, 247, 203); // ukonczone zgloszenia

/* #################################################
      ##################### MOBILE ####################
      ################################################# */

$sizeMobileWidth: 992px;
