<div class="image-bg"></div>
<img src="assets/logo.png" alt="Snow" style="width:100%;">
<div class="login-form">
    <form [formGroup]="loginForm">
        <div>
            <mat-form-field class="control-width">
                <input #login matInput type="text" i18n-placeholder="Login|Pole wprowadzania emaila" placeholder="Email"
                    formControlName="email" required autofocus>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="control-width">
                <input #password matInput type="password" formControlName="password" i18n-placeholder="Login|Pole wprowadzania hasla"
                    placeholder="Haslo" [type]="passHide ? 'password' : 'text'" required>
                <mat-icon *ngIf="passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility</mat-icon>
                <mat-icon *ngIf="!passHide" matSuffix (click)="passHide = !passHide" style="cursor:pointer">visibility_off</mat-icon>
            </mat-form-field>
        </div>
    </form>
    <div class="form-group">
      <button [disabled]="loading || getCheckRequired()"  class="btn-login"
          mat-raised-button color="primary" (click)="signIn()">
          <span i18n="Login|Przycisk logowania">Zaloguj się</span>
      </button>
      <br>
      <button class="btn-register" mat-raised-button color="primary" (click)="goToRegister()">
        <span i18n="Login|Przycisk Rejestracji">Rejestracja</span>
    </button>
  </div>
</div>

