// tlo
.image-bg {
  background-image: url('../../../../assets/bg.jpg');
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
