@import 'mixins';
@import 'variables';

#card-all-messages {
  // kontener z wszystkimi wiadomosciami
  background-color: transparent;
  height: 100%;
  max-height: 500px;
  display: grid;
  grid-template-rows: auto 1fr auto;

  mat-card-subtitle {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  mat-card-content {
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
    height: 100%;
  }

  mat-card-actions {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

#scroller {
  max-height: 450px;
  overflow: auto;
  margin-bottom: 20px;
}

.card-message {
  // wiadomosc
  background-color: transparent;
  display: flex;
  flex-direction: column;

  .cont-action {
    // data i buttony
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4444442f;

    .cont-date {
      // data
      display: flex;
      width: 100%;
      font-size: x-small;
      justify-content: space-between;

      mat-label {
        font-size: x-small;
      }
    }

    .cont-buttons {
      // przyciski akcji
      display: flex;
      justify-content: flex-end;
      width: 150px;
      float: right;

      button {
        display: flex;
        justify-content: center;
      }
    }
  }

  .cont-description {
    width: 100%;
  }
}

.cont-button-send-message {
  // border-top: 1px solid #2e2e2e21;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  align-items: flex-end;

  mat-form-field {
    width: 100%;
    padding-right: 10px;
  }

  button {
    margin-left: 5px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #017fb917;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0072a746;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c323f4d;
}
