<div class="p-4">
  <mat-form-field class="mb-3">
    <mat-label>Filtrowanie</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrowanie użytkowników" />
  </mat-form-field>

  <div class="mat-elevation-z8 cont-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lp</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię i nazwisko</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- AccessLevel Column -->
      <ng-container matColumnDef="accessLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Poziom uprawnień</th>
        <td mat-cell *matCellDef="let row">{{ row.accessLevel | enumPermissionToStr }}</td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="cont-buttons">
          <button
            mat-mini-fab
            color="basic"
            matTooltip="Informacie o użytkowniku"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="openUserLink(row)"
          >
            <mat-icon>info</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Przydzielone zgłoszenia"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="openNotificationLink('assigned')"
          >
            <mat-icon>assignment_ind</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="basic"
            matTooltip="Utworzone zgłoszenia"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="openNotificationLink('published')"
          >
            <mat-icon>assignment_turned_in</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="accent"
            matTooltip="Zmiana uprawnień"
            *ngIf="(userId !== row.id && roleGuardService.checkPermission(userPermission.Admin))"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="changeUserPermission(row)"
          >
            <mat-icon>pan_tool</mat-icon>
          </button>
          <button
            mat-mini-fab
            *ngIf="row.deleted === 1 && userId !== row.id && roleGuardService.checkPermission(userPermission.Admin)"
            color="basic"
            matTooltip="Przywróć użytkownika"
            (click)="userRestore(row)"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
          >
            <mat-icon>restore</mat-icon>
          </button>
          <button
            mat-mini-fab
            *ngIf="row.deleted === 0 && userId !== row.id && roleGuardService.checkPermission(userPermission.Admin)"
            color="warn"
            matTooltip="Usuń użytkownika"
            (click)="userDelete(row)"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ deletedUser: row.deleted == 1 }"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
