<app-drag-and-drop>
  <h2 mat-dialog-title class="header">Zmień status</h2>
  <div mat-dialog-content class="m-2 content">
    <mat-form-field class="example-full-width">
      <mat-label>Status zgłoszenia</mat-label>
      <mat-select [formControl]="statusForm" [compareWith]="compareObject">
        <mat-option *ngFor="let status of statuses | enumToArray" [value]="status.value">
          {{ status.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="float: right;">
    <button mat-raised-button color="basic" mat-dialog-close>Anuluj</button>
    <button mat-raised-button color="accent" [disabled]="statusForm.invalid" (click)="confirmChanges()">
      Zatwierdź
    </button>
  </div>
</app-drag-and-drop>
