.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
    margin-bottom: 30px;
  }
  