@import 'variables';

.status-button {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.more-info {
  border-left: 1px solid #4949493d;
}

.cont-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;

  button {
    margin: 2px;
  }
}

.cont-row {
  margin-top: 60px;
}

.example-form {
  mat-form-field {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: space-between;
}

#not-assigned {
  color: rgb(114, 114, 114);
}
#not-inProgress {
  color: rgb(253, 194, 0);
}

#not-waiting-for-external-support {
  color: rgba(255, 123, 0, 0.842);
}

#not-waiting-for-customer {
  color: rgb(99, 99, 99);
}

#not-completed {
  color: rgba(87, 151, 3, 0.959);
}
